{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        {% if user is defined %}
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Changement de mot de passe</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{{ path('newpasswordchecker', {id: user.userId}) }}" method="post">
                            <div class="form-group">
                                <label for="user_password1">Nouveau mot de passe</label>
                                <input type="password" class="form-control" id="user_password1" name="user_password1"
                                       placeholder="Nouveau mot de passe">
                            </div>
                            <div class="form-group">
                                <label for="user_password2">Confirmation du nouveau mot de passe</label>
                                <input type="password" class="form-control" id="user_password2" name="user_password2"
                                       placeholder="Confirmation mot de passe">
                            </div>
                            <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
                            <button type="reset" class="btn btn-default">Effacer</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}