{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-offset-2 col-sm-8 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Modifier un quizz</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="{{ path('edit/quiz_check', {'id' : quiz.quizId}) }}" method="post">
                        <div class="form-group">
                            <label for="quiz_title">Titre du quiz</label>
                            <input class="form-control" id="quiz_title" name="quiz_title" type="text" value="{{ quiz.quizTitle }}" required>
                        </div>
                        <div class="form-group">
                            <label for="quiz_description">Description du quiz</label>
                            <textarea class="form-control" id="quiz_description" name="quiz_description" rows="10">{{ quiz.quizDescription }}</textarea>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-default">Suivant</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}