{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p>
                <h3>Quiz fini</h3>
            </p>
        </div>
    </div>
{% endblock %}