{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ quiz.quiztitle }}</h3>
            </div>
            <div class="panel-body">
                {{ quiz.quizdescription }}
            </div>
        </div>
    </div>
    {% if questions is defined %}
        <div class="row">
            {% for question in questions %}
                <div class="col-lg-offset-2 col-sm-8 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> {{ question.QuestionText }} </h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-offset-2 col-sm-8 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ajouter une question</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="{{ path('newAnswer_check', {"id" : quiz.quizid}) }}" method="post">
                        <div class="form-group">
                            <label for="question_text">Question</label>
                            <textarea class="form-control" id="question_text" name="question_text" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="answer1_content">Réponse 1</label>

                            <div class="input-group">
                                <textarea class="form-control" id="answer1_content" name="answer1_content"></textarea>
                                  <span class="input-group-addon">
                                    <input name="answer_is_good" value="0" type="radio" aria-label="..." required>
                                  </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="answer2_content">Réponse 2</label>

                            <div class="input-group">
                                <textarea class="form-control" id="answer2_content" name="answer2_content"></textarea>
                                  <span class="input-group-addon">
                                    <input name="answer_is_good" value="1" type="radio" aria-label="..." required>
                                  </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="answer3_content">Réponse 3</label>

                            <div class="input-group">
                                <textarea class="form-control" id="answer3_content" name="answer3_content"></textarea>
                                  <span class="input-group-addon">
                                    <input name="answer_is_good" value="2" type="radio" aria-label="..." required>
                                  </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="answer4_content">Réponse 4</label>

                            <div class="input-group">
                                <textarea class="form-control" id="answer4_content" name="answer4_content"></textarea>
                                  <span class="input-group-addon">
                                    <input name="answer_is_good" value="3" type="radio" aria-label="..." required>
                                  </span>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" name="add" value="add" class="btn btn-default">Ajouter question
                            </button>
                            <button type="submit" name="finish" value="finish" class="btn btn-default">Terminez</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}