{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col m12 s12 l12">
            <div class="collection">
                {% for quiz in tabQuiz %}
                    <a href="" class="collection-item">{{ quiz.quizTitle }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}