{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Bienvenue sur Miniquiz</h3>
                </div>
                <div class="panel-body">
                    Cette application web vous permet de créer des quiz et de les partager avec vos amis.
                    Pensez à vous inscrire pour profiter pleinement de toutes les fonctionnalités du site.
                    Amusez vous bien sur Miniquiz.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-lg-12">
            {% if quizzes is defined and quizzes is not empty %}
                    <table class="table table-hover table-condensed">
                        <caption>Liste des quiz</caption>
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Description</th>
                                {% if app.session.get("connected") %}
                                    <th class="text-center">Répondre</th>
                                {% endif %}
                                <th class="text-center">Stats</th>
                            </tr>
                        </thead>
                        <tbody>
                    {% for quiz in quizzes %}
                        <tr>
                            <td>{{ quiz.quizTitle }}</td>
                            <td>{{ quiz.quizDescription }}</td>
                            {% if app.session.get("connected") %}
                                <td class="text-center"><a class="btn btn-default" href="{{ path('answerQuiz', {'id' : quiz.quizId}) }}">Répondre</a></td>
                            {% endif %}
                            <td class="text-center"><a href="{{ path('statsQuiz', {'id' : quiz.quizId}) }}" class="btn btn-default right"><span class="glyphicon glyphicon-stats"></span></a></td>
                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
            {% endif %}
        </div>
    </div>
{% endblock %}