{% extends "layout.html.twig" %}

{% block content %}
    {% if error is defined %}
        <div class="row">
            <div class="col offset-l2 m8 s12 center">
                <div class="card hoverable red darken-1 white-text">
                    <div class="card-content">
                        <p>
                            {{ error }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col offset-l2 m8 s12 center">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Connexion</span>
                    <form role="form" action="{{ path('login_check') }}" method="post">
                        <div class="input-field">
                            <label for="user_login">Pseudo</label>
                            <input id="user_login" name="user_login" type="text" required>
                        </div>
                        <div class="input-field">
                            <label for="user_password">Mot de passe</label>
                            <input id="user_password" name="user_password" type="password" required>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn waves-effect light-effect">Validez</button>
                            <button type="reset" class="btn waves-effect light-effect">Effacez</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}