{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Créer un quizz</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="{{ path('newquiz_check') }}" method="post">
                        <div class="form-group">
                            <label for="quiz_title">Titre du quiz</label>
                            <input class="form-control" id="quiz_title" name="quiz_title" type="text" required>
                        </div>
                        <div class="form-group">
                            <label for="quiz_description">Description du quiz</label>
                            <textarea class="form-control" id="quiz_description" name="quiz_description"
                                      rows="10"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-lg-offset-8 col-lg-4 col-md-offset-8 col-md-4 col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn-primary btn-block">Suivant</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}