{% extends "layout.html.twig" %}

{% block content %}
    {% if error is defined %}
        <div class="row">
            <div class="col offset-l2 m8 s12 center">
                <div class="card hoverable red darken-1 white-text">
                    <div class="card-content">
                        <p>
                            {{ error }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col offset-l2 m8 s12 center">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Inscription</span>
                    <form action="{{ path('signup_check') }}" method="POST">
                        <div class="row">
                            <div class="col l8">
                                <div class="input-field">
<<<<<<< HEAD
                                    <label for="username">Pseudo</label>
                                    <input id="username" name="username" required type="text">
=======
                                    <label for="user_login">Pseudo</label>
                                    <input name="user_login" required type="text">
>>>>>>> origin/master
                                </div>
                            </div>
                            <div id="stateUsername" class="col l2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l8">
                                <div class="input-field">
                                    <label for="user_password">Mot de passe</label>
                                    <input id="user_password" name="user_password" type="password" required>
                                </div>
                            </div>
                            <div id="statePass" class="col l2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l8">
                                <div class="input-field">
                                    <label for="user_password2">Mot de passe</label>
                                    <input id="user_password2" name="user_password2" required type="password">
                                </div>
                            </div>
                            <div id="statePass2" class="col l2">
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn waves-effect light-effect">Validez</button>
                            <button type="reset" class="btn waves-effect light-effect">Effacez</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ app.request.basepath }}/js/signup.js"></script>
{% endblock %}