{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-offset-2 col-sm-8 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Inscription</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="{{ path('signup_check') }}" method="POST">
                        <div class="form-group has-feedback">
                            <label for="user_login">Pseudo</label>
                            <input class="form-control" id="user_login" name="user_login" required type="text" >
                            <span id="stateUsername" class=""></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="user_password">Mot de passe</label>
                            <input class="form-control" id="user_password" name="user_password" type="password" required>
                            <span id="statePass" class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="user_password2">Mot de passe</label>
                            <input class="form-control" id="user_password2" name="user_password2" required type="password">
                            <span id="statePass2" class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Validez</button>
                        <button type="reset" class="btn btn-default">Effacez</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ app.request.basepath }}/js/signup.js"></script>
{% endblock %}