{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col m12 s12 l12">
            <div class="collection">
                {% for user in users %}
                    <a href="{{ path('user', {'id': user.id}) }}" class="collection-item">{{ user.username }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}