{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col m12 s12 l12">
            {{ user.userLogin }} - {{ user.userId }}
        </div>
    </div>
{% endblock %}