html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #4E5D6C;
}

.message:hover, label:hover {
    cursor: pointer;
}

label {
    font-weight: normal;
}